.container {
  display: flex;
  align-items: center;
  padding: 1rem var(--b-pad);
  justify-content: space-between;
  border-bottom: 1px solid #e8b059;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: #202020;
  z-index: 1000;
  transition: all 0.2s linear;
}
.box {
  display: flex;
  color: #e8b059;
  font-size: 40px;
  font-weight: 500;
}
