.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}
.box {
  min-width: 33vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
  border-radius: 1rem;
  animation: middle-top 0.5s;
  background-color: var(--primary-color);
  color: var(--Text);
  padding: 2rem;
  max-height: 80vh;
  overflow-y: scroll;
}
.items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
}
.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0.5rem;
}
.item > h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
}
.item_subpart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0.2rem;
  padding-left: 0.7rem;
}
.item_subpart > h3 {
  font-size: 1.2rem;
  text-transform: capitalize;
}
.item_subpart > p {
  font-size: 1rem;
  padding-left: 0.7rem;
}
@keyframes middle-top {
  from {
    transform: translateY(-50%);
  }
  to {
    transform: translateY(0%);
  }
}
@media screen and (max-width: 900px) {
  .box {
    min-width: 50vh;
  }
}
